@import "partials/setup";
@import "partials/variables";
@import "partials/header";
@import "partials/videoSlider";
@import "partials/product";
@import "partials/basket";

h1, h2, h3, h4{
	font-family: 'Playfair Display', serif;
	color: $primaryColor;
}
body {
	background-color: $accentLight;
}

.wrapper {
	max-width: 70%; 
	margin: 0 auto;
}

@media (max-width: 665px) {
	h1 {
		font-size: 5.5rem;
	}
	h2 {
		font-size: 3rem;
	}
	.wrapper {
		max-width: 80%; 
	}
}

@media (max-width: 570px) {
	h1 {
		font-size: 4.5rem;
	}
	h2 {
		font-size: 2rem;
	}
	.wrapper {
		max-width: 95%; 
	}
}