@import "partials/setup";
@import "partials/variables";
@import "partials/header";

body {
	background-color: $accentLight;
}
h1, h2, h3, h4{
	font-family: 'Playfair Display', serif;
	color: $primaryColor;
}
h1 {
	font-size: 6.6rem;
}
h2 {
	font-size: 3.6rem;
}
h3 {
	font-size: 3rem;
}
h4 {
	font-size: 2.6rem;
}
p {
	font-size: 1.6rem;
	font-family: "Open Sans";
}

.wrapper {
	max-width: 70%; 
	margin: 0 auto;
}

.video__selection {
	text-align: center;
	select {
		font-size: 1.6rem;
		margin: 10px;
		font-family: "Open Sans";
	}
}

.video__wrapper {
	.video__slider {
		margin-bottom: 65px;
		h2 {
			text-align: center;
			// text-transform: uppercase;

		}
		#videoList {
			list-style: none;
			margin: 0;
			padding: 0;
			.galleryCell iframe {
				width: 720px;
				height: 400px;
				margin: 0 90px;
			}
		}
	}
	.video__description {
		background-color: $primaryColor;
		border-radius: 15px;
		padding-bottom: 20px;
		letter-spacing: 1.5px;

		h3 {
			text-align: center;
			text-transform: uppercase;
			background-color: $accentDark;
			border-top-left-radius: 15px;
			border-top-right-radius: 15px;
			padding: 15px;
			text-decoration: underline;
		}
		p{
			text-align: center;
			color: $accentDark;
			padding: 10px;
		}
	}
}
.products__types {
	text-transform: capitalize;
	line-height: 2;
	h2, h4{
	text-decoration: underline;
	text-align: center;
	}
}
.products__filter {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.products__filter--price {
	margin: 0 10px;
	button {
		font-size: 1.6rem;
		border-radius: 15px;
		padding: 10px 15px;
		font-weight: 400;
		color: $primaryColor;
		border: 5px solid $primaryColor;
		background-color: $accentDark;
	}
	button:hover {
		background-color: $primaryColor;
		color: $accentDark;
	}
	button:focus {
		background-color: $primaryColor;
		color: $accentDark;
		outline: none;
	}
}

.productWrapper h3 {
	position: relative;
}
.productWrapper h3 {
	text-transform: capitalize;
    font-weight: 100;
    background-color: $primaryColor;
    border-radius: 15px;
    color: $accentDark;
    padding: 10px;
}

.productWrapper h3:after {
	content: '\f067';
	font-family: FontAwesome;
	position: absolute;
	right: 0;
	top: 13%;
	width: 50px;
	height: 50px;
}

.productInfoWrapper {
	display: flex;
	width: 100%;
}

img {
	border: 5px solid $primaryColor;
	width: auto;
	height: auto;
	max-width: 160px;

}

//This is the product information price,name, description

.productInfoWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
	.imageContainer {
		max-width: 20%;
		img {
			width: 100%;
			height: auto;
		}
	}
	.informationContainer {
		max-width: 70%; 
		margin: 0 15px;
		.namePriceContainer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			font-size: 1.8rem;
		}
		.descriptionContainer {
			font-size: 1.2rem;
			text-align: left;
		}
	}
	.buttonContainer {
		max-width: 10%;
		button {
			height: 100px;
			width: 80px;
		}
	}
}
.productInfoWrapper:nth-of-type(even) {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}


.basket__total {
	background-color: #313B50;
	padding: 25px;
	color: #F6D9C7;
}


.basket {
	display: none;
	box-shadow: 0px 0px 20px #222;
	background-color: #F4BDA5;
	padding: 15px 30px;
	margin-top: 80px;
}

.show {
	display: block;
}

footer p {
	position: relative;
	font-size: 2.6rem;
	text-align: center;
}

footer p:after {
	content: '\f067';
	font-family: FontAwesome;
	position: absolute;
	right: 50px;
	top: 25%;
	width: 50px;
	height: 50px;
}

.cartItemContainer {
	display: flex;
	justify-content: space-between;
	align-items: center; 
}

.cartItemDetails {
	display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    p {
    	font-size: 1.2rem;
	}
	
    img {
    	width: 15%;
    	margin: 10px;
    }
}